# MODELOS PREDICTIVOS PARA SISTEMAS INTELIGENTES 

## Taller

El dataset que trabajaremos en el taller ("ProyectoSeminario.txt") Contiene 2.075.259 medidas entre Diciembre de 2016 y Noviembre de 2010 (47 meses), y contiene la siguiente información:


* globalactivepower: household global minute-averaged active power (in kilowatt)
* globalreactivepower: household global minute-averaged reactive power (in kilowatt)
* voltage: minute-averaged voltage (in volt)
* global_intensity: household global minute-averaged current intensity (in ampere)
* submetering1: energy sub-metering No. 1 (in watt-hour of active energy). It corresponds to the kitchen, containing mainly a dishwasher, an oven and a microwave (hot plates are not electric but gas powered).
* submetering2: energy sub-metering No. 2 (in watt-hour of active energy). It corresponds to the laundry room, containing a washing-machine, a tumble-drier, a refrigerator and a light.
* submetering3: energy sub-metering No. 3 (in watt-hour of active energy). It corresponds to an electric water-heater and an air-conditioner.


Se requiere obtener dos modelos predictivos: Predicción en series de tiempo y Modelo de clasificación:

* Predicción en series de tiempo: se requiere un modelo que permita predecir la potencia activa global (globalactivepoweer) tomando las últimas 48 horas de registro, y que permita estimar la potencia para las 24 horas siguientes (Nota: submuestrear la serie de tiempo para que la base de tiempo sean horas). Para este modelo se espera que se realicen todas las operaciones necesarias: inspección inicial del dataset, limpieza de datos, submuestreo, filtrado, preparación del dataset, creación de la arquitectura del modelo, entrenamiento del modelo, evaluación del desempeño, y finalmente la predicción para 24 horas siguientes, dado un historico de 48 horas pasadas.



* Sistema de clasificación: se requiere un modelo que permita predecir si la potencia activa global es alta o baja (dadas las medidas de: Global_reactive_power, Voltage	Global_intensity, Sub_metering_1, Sub_metering_2	Sub_metering_3), según los siguientes umbrales:


   *   Potencia Activa Global Alta = consumo mayor a 0.8 KW
   *   Potencia Activa Global Baja = consumo menor que 0.8 KW

  Proponer un sistema de clasificación basado en: redes neuronales, bosques aleatorios y regresión logística. Para este modelo se espera que se realicen todas las operaciones necesarias: inspección inicial del dataset, limpieza de datos, preparación del dataset, creación de la arquitectura del modelo, entrenamiento del modelo, evaluación del desempeño, y finalmente la predicción de la potencia activa global dado un conjunto de datos independientes.

In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import scipy
import seaborn as sns

In [2]:
data = pd.read_table('ProyectoSeminario.txt',sep=';',low_memory=False ,na_values=['NULL'])
data.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [3]:
data.tail()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
2075254,26/11/2010,20:58:00,0.946,0.000,240.430,4.000,0.000,0.000,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.000,4.000,0.000,0.000,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.820,3.800,0.000,0.000,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.700,3.800,0.000,0.000,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.550,3.800,0.000,0.000,0.0

In [4]:
#Estampa de tiempo 

data["Data_Time"]=data["Date"] + " " + data["Time"]
data.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Data_Time
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0,16/12/2006 17:24:00
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0,16/12/2006 17:25:00
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0,16/12/2006 17:26:00
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0,16/12/2006 17:27:00
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0,16/12/2006 17:28:00

In [5]:
data= data.drop(labels = 'Date', axis=1)
data.head()

,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Data_Time
0,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0,16/12/2006 17:24:00
1,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0,16/12/2006 17:25:00
2,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0,16/12/2006 17:26:00
3,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0,16/12/2006 17:27:00
4,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0,16/12/2006 17:28:00

In [6]:
data= data.drop(labels = 'Time', axis=1)
data.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Data_Time
0,4.216,0.418,234.840,18.400,0.000,1.000,17.0,16/12/2006 17:24:00
1,5.360,0.436,233.630,23.000,0.000,1.000,16.0,16/12/2006 17:25:00
2,5.374,0.498,233.290,23.000,0.000,2.000,17.0,16/12/2006 17:26:00
3,5.388,0.502,233.740,23.000,0.000,1.000,17.0,16/12/2006 17:27:00
4,3.666,0.528,235.680,15.800,0.000,1.000,17.0,16/12/2006 17:28:00

In [7]:
data['Data_Time']=pd.to_datetime(data['Data_Time'], format='%d/%m/%Y %H:%M:%S', errors='ignore')
data

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Data_Time
0,4.216,0.418,234.840,18.400,0.000,1.000,17.0,2006-12-16 17:24:00
1,5.360,0.436,233.630,23.000,0.000,1.000,16.0,2006-12-16 17:25:00
2,5.374,0.498,233.290,23.000,0.000,2.000,17.0,2006-12-16 17:26:00
3,5.388,0.502,233.740,23.000,0.000,1.000,17.0,2006-12-16 17:27:00
4,3.666,0.528,235.680,15.800,0.000,1.000,17.0,2006-12-16 17:28:00
...,...,...,...,...,...,...,...,...
2075254,0.946,0.000,240.430,4.000,0.000,0.000,0.0,2010-11-26 20:58:00
2075255,0.944,0.000,240.000,4.000,0.000,0.000,0.0,2010-11-26 20:59:00
2075256,0.938,0.000,239.820,3.800,0.000,0.000,0.0,2010-11-26 21:00:00
2075257,0.934,0.000,239.700,3.800,0.000,0.000,0.0,2010-11-26 21:01:00
2075258,0.932,0.000,239.550,3.800,0.000,0.000,0.0,2010-11-26 21:02:00

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Global_active_power    object
 1   Global_reactive_power  object
 2   Voltage                object
 3   Global_intensity       object
 4   Sub_metering_1         object
 5   Sub_metering_2         object
 6   Sub_metering_3         float64
 7   Data_Time              datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 126.7+ MB

In [9]:
data[["Global_active_power","Global_reactive_power","Voltage","Global_intensity","Sub_metering_1","Sub_metering_2"]] = data[["Global_active_power","Global_reactive_power","Voltage","Global_intensity","Sub_metering_1","Sub_metering_2"]].apply(pd.to_numeric,errors='coerce')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Global_active_power    float64
 1   Global_reactive_power  float64
 2   Voltage                float64
 3   Global_intensity       float64
 4   Sub_metering_1         float64
 5   Sub_metering_2         float64
 6   Sub_metering_3         float64
 7   Data_Time              datetime64[ns]
dtypes: datetime64[ns](1), float64(7)
memory usage: 126.7 MB

In [11]:
data.isnull().sum()

Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
Data_Time                    0
dtype: int64

In [12]:
data2= data.copy(deep = True)
data3= data.copy(deep = False)

In [13]:
#con cual queda enlazada,rellenar datos nulls con el promedio
mean_vals= data[['Sub_metering_2','Sub_metering_1','Sub_metering_3','Global_intensity','Voltage','Global_reactive_power','Global_active_power']].mean()
print(mean_vals )
data3[['Sub_metering_2','Sub_metering_1','Sub_metering_3','Global_intensity','Voltage','Global_reactive_power','Global_active_power']]=data2[['Sub_metering_2','Sub_metering_1','Sub_metering_3','Global_intensity','Voltage','Global_reactive_power','Global_active_power']].fillna(value=mean_vals)
data3

Sub_metering_2             1.298520
Sub_metering_1             1.121923
Sub_metering_3             6.458447
Global_intensity           4.627759
Voltage                  240.839858
Global_reactive_power      0.123714
Global_active_power        1.091615
dtype: float64

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Data_Time
0,4.216,0.418,234.84,18.4,0.0,1.0,17.0,2006-12-16 17:24:00
1,5.360,0.436,233.63,23.0,0.0,1.0,16.0,2006-12-16 17:25:00
2,5.374,0.498,233.29,23.0,0.0,2.0,17.0,2006-12-16 17:26:00
3,5.388,0.502,233.74,23.0,0.0,1.0,17.0,2006-12-16 17:27:00
4,3.666,0.528,235.68,15.8,0.0,1.0,17.0,2006-12-16 17:28:00
...,...,...,...,...,...,...,...,...
2075254,0.946,0.000,240.43,4.0,0.0,0.0,0.0,2010-11-26 20:58:00
2075255,0.944,0.000,240.00,4.0,0.0,0.0,0.0,2010-11-26 20:59:00
2075256,0.938,0.000,239.82,3.8,0.0,0.0,0.0,2010-11-26 21:00:00
2075257,0.934,0.000,239.70,3.8,0.0,0.0,0.0,2010-11-26 21:01:00
2075258,0.932,0.000,239.55,3.8,0.0,0.0,0.0,2010-11-26 21:02:00

In [14]:
data3.isnull().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
Data_Time                0
dtype: int64

In [15]:
#calcular estadistica descriptiva de los datos, cual es promedio,desviacion estandar std,min-max ,quarteil 
data3.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
count,2.075259e+06,2.075259e+06,2.075259e+06,2.075259e+06,2.075259e+06,2.075259e+06,2.075259e+06
mean,1.091615e+00,1.237145e-01,2.408399e+02,4.627759e+00,1.121923e+00,1.298520e+00,6.458447e+00
std,1.050655e+00,1.120142e-01,3.219643e+00,4.416490e+00,6.114397e+00,5.785470e+00,8.384178e+00
min,7.600000e-02,0.000000e+00,2.232000e+02,2.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.100000e-01,4.800000e-02,2.390200e+02,1.400000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.300000e-01,1.020000e-01,2.409600e+02,2.800000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,1.520000e+00,1.920000e-01,2.428600e+02,6.400000e+00,0.000000e+00,1.000000e+00,1.700000e+01
max,1.112200e+01,1.390000e+00,2.541500e+02,4.840000e+01,8.800000e+01,8.000000e+01,3.100000e+01

In [16]:
data2

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Data_Time
0,4.216,0.418,234.84,18.4,0.0,1.0,17.0,2006-12-16 17:24:00
1,5.360,0.436,233.63,23.0,0.0,1.0,16.0,2006-12-16 17:25:00
2,5.374,0.498,233.29,23.0,0.0,2.0,17.0,2006-12-16 17:26:00
3,5.388,0.502,233.74,23.0,0.0,1.0,17.0,2006-12-16 17:27:00
4,3.666,0.528,235.68,15.8,0.0,1.0,17.0,2006-12-16 17:28:00
...,...,...,...,...,...,...,...,...
2075254,0.946,0.000,240.43,4.0,0.0,0.0,0.0,2010-11-26 20:58:00
2075255,0.944,0.000,240.00,4.0,0.0,0.0,0.0,2010-11-26 20:59:00
2075256,0.938,0.000,239.82,3.8,0.0,0.0,0.0,2010-11-26 21:00:00
2075257,0.934,0.000,239.70,3.8,0.0,0.0,0.0,2010-11-26 21:01:00
2075258,0.932,0.000,239.55,3.8,0.0,0.0,0.0,2010-11-26 21:02:00

In [17]:
data2.isnull().sum()

Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
Data_Time                    0
dtype: int64

In [18]:
#serie temporales,dependencia entre las muestras

In [19]:
data2.Global_active_power= data2.Global_active_power.fillna(method = 'ffill')
data2.Global_reactive_power= data2.Global_reactive_power.fillna(method = 'ffill')
data2.Voltage= data2.Voltage.fillna(method = 'ffill')
data2.Global_intensity= data2.Global_intensity.fillna(method = 'ffill')
data2.Sub_metering_1= data2.Sub_metering_1.fillna(method = 'ffill')
data2.Sub_metering_2= data2.Sub_metering_2.fillna(method = 'ffill')
data2.Sub_metering_3= data2.Sub_metering_3.fillna(method = 'ffill')
data2.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Data_Time
0,4.216,0.418,234.84,18.4,0.0,1.0,17.0,2006-12-16 17:24:00
1,5.360,0.436,233.63,23.0,0.0,1.0,16.0,2006-12-16 17:25:00
2,5.374,0.498,233.29,23.0,0.0,2.0,17.0,2006-12-16 17:26:00
3,5.388,0.502,233.74,23.0,0.0,1.0,17.0,2006-12-16 17:27:00
4,3.666,0.528,235.68,15.8,0.0,1.0,17.0,2006-12-16 17:28:00

In [20]:
data2.isnull().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
Data_Time                0
dtype: int64

In [21]:
data2.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
count,2.075259e+06,2.075259e+06,2.075259e+06,2.075259e+06,2.075259e+06,2.075259e+06,2.075259e+06
mean,1.086168e+00,1.233280e-01,2.408416e+02,4.604226e+00,1.110995e+00,1.287958e+00,6.416570e+00
std,1.053172e+00,1.125144e-01,3.235574e+00,4.426775e+00,6.115908e+00,5.786865e+00,8.419505e+00
min,7.600000e-02,0.000000e+00,2.232000e+02,2.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.080000e-01,4.800000e-02,2.390000e+02,1.400000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,5.980000e-01,1.000000e-01,2.410200e+02,2.600000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,1.524000e+00,1.940000e-01,2.428700e+02,6.400000e+00,0.000000e+00,1.000000e+00,1.700000e+01
max,1.112200e+01,1.390000e+00,2.541500e+02,4.840000e+01,8.800000e+01,8.000000e+01,3.100000e+01

In [22]:
data2.count()

Global_active_power      2075259
Global_reactive_power    2075259
Voltage                  2075259
Global_intensity         2075259
Sub_metering_1           2075259
Sub_metering_2           2075259
Sub_metering_3           2075259
Data_Time                2075259
dtype: int64

In [23]:
data2.set_index('Data_Time', inplace = True)

In [24]:
data2.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
Data_Time,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [36]:

print(data2.index.min())
print(data2.index.max())

2006-12-16 17:24:00
2010-11-26 21:02:00

In [97]:
print(len(data2['2006']))
print(len(data2['2010']))

21987
475023

C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.
C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

In [64]:
horas = data2.Global_active_power.resample('H').mean()
horas

Data_Time
2006-12-16 17:00:00    4.222889
2006-12-16 18:00:00    3.632200
2006-12-16 19:00:00    3.400233
2006-12-16 20:00:00    3.268567
2006-12-16 21:00:00    3.056467
                         ...
2010-11-26 17:00:00    1.725900
2010-11-26 18:00:00    1.573467
2010-11-26 19:00:00    1.659333
2010-11-26 20:00:00    1.163700
2010-11-26 21:00:00    0.934667
Freq: H, Name: Global_active_power, Length: 34589, dtype: float64

In [130]:
print(len(horas['2006']))
print(len(horas['2010']))

340
7918

In [138]:
# convert series to supervised learning
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
    n_vars = 1 if type(data) is list else data.shape[1]
    horas= pd.DataFrame(data)
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(horas.shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(horas.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg
 
# load dataset
values = horas.values
# ensure all data is float
values = values.astype('float32')
# normalize features
scaler = MinMaxScaler(feature_range=(-1, 1))
values=values.reshape(-1, 1) # esto lo hacemos porque tenemos 1 sola dimension
scaled = scaler.fit_transform(values)
# frame as supervised learning
reframed = series_to_supervised(scaled, 48, 1)
reframed.head()

,var1(t-48),var1(t-47),var1(t-46),var1(t-45),var1(t-44),var1(t-43),var1(t-42),var1(t-41),var1(t-40),var1(t-39),...,var1(t-9),var1(t-8),var1(t-7),var1(t-6),var1(t-5),var1(t-4),var1(t-3),var1(t-2),var1(t-1),var1(t)
48,0.109886,0.121494,0.140711,0.165504,0.194268,0.223747,0.249075,0.265894,0.270657,0.261837,...,-0.218499,-0.263194,-0.308348,-0.351571,-0.389790,-0.419335,-0.439292,-0.452871,-0.460100,-0.459684
49,0.121494,0.140711,0.165504,0.194268,0.223747,0.249075,0.265894,0.270657,0.261837,0.239178,...,-0.263194,-0.308348,-0.351571,-0.389790,-0.419335,-0.439292,-0.452871,-0.460100,-0.459684,-0.454982
50,0.140711,0.165504,0.194268,0.223747,0.249075,0.265894,0.270657,0.261837,0.239178,0.201279,...,-0.308348,-0.351571,-0.389790,-0.419335,-0.439292,-0.452871,-0.460100,-0.459684,-0.454982,-0.446823
51,0.165504,0.194268,0.223747,0.249075,0.265894,0.270657,0.261837,0.239178,0.201279,0.149049,...,-0.351571,-0.389790,-0.419335,-0.439292,-0.452871,-0.460100,-0.459684,-0.454982,-0.446823,-0.436146
52,0.194268,0.223747,0.249075,0.265894,0.270657,0.261837,0.239178,0.201279,0.149049,0.084441,...,-0.389790,-0.419335,-0.439292,-0.452871,-0.460100,-0.459684,-0.454982,-0.446823,-0.436146,-0.423953

In [136]:
values = reframed.values
n_train_days =340+7918 - (2715+48)
train = values[:n_train_days, :]
test = values[n_train_days:, :]
# split into input and outputs
x_train, y_train = train[:, :-1], train[:, -1]
x_val, y_val = test[:, :-1], test[:, -1]
# reshape input to be 3D [samples, timesteps, features]
x_train = x_train.reshape((x_train.shape[0], 1, x_train.shape[1]))
x_val = x_val.reshape((x_val.shape[0], 1, x_val.shape[1]))
print(x_train.shape, y_train.shape, x_val.shape, y_val.shape)

(8180, 1, 48) (8180,) (26334, 1, 48) (26334,)

In [134]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

def crear_modeloFF():
    model = Sequential() 
    model.add(Dense(48, input_shape=(1,48),activation='tanh'))
    model.add(Flatten())
    model.add(Dense(1, activation='tanh'))
    model.compile(loss='mean_absolute_error',optimizer='Adam',metrics=["mse"])
    model.summary()
    return model

In [135]:

epochs = 40
batch_size = 48

 
history=model.fit(x_train,y_train,epochs=epochs,validation_data=(x_val,y_val),batch_size=batch_size)

Epoch 1/40
WARNING:tensorflow:Model was constructed with shape (None, 1) for input KerasTensor(type_spec=TensorSpec(shape=(None, 1), dtype=tf.float32, name='dense_13_input'), name='dense_13_input', description="created by layer 'dense_13_input'"), but it was called on an input with incompatible shape (None, 1, None).

ValueError: in user code:

    C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\tensorflow\python\keras\engine\training.py:855 train_function  *
        return step_function(self, iterator)
    C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\tensorflow\python\keras\engine\training.py:845 step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:1285 run
        return self._extended.call_for_each_replica(fn, args=args, kwargs=kwargs)
    C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:2833 call_for_each_replica
        return self._call_for_each_replica(fn, args, kwargs)
    C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:3608 _call_for_each_replica
        return fn(*args, **kwargs)
    C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\tensorflow\python\keras\engine\training.py:838 run_step  **
        outputs = model.train_step(data)
    C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\tensorflow\python\keras\engine\training.py:797 train_step
        y, y_pred, sample_weight, regularization_losses=self.losses)
    C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\tensorflow\python\keras\engine\compile_utils.py:204 __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\tensorflow\python\keras\losses.py:155 __call__
        losses = call_fn(y_true, y_pred)
    C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\tensorflow\python\keras\losses.py:259 call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\tensorflow\python\util\dispatch.py:206 wrapper
        return target(*args, **kwargs)
    C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\tensorflow\python\keras\losses.py:1644 categorical_crossentropy
        y_true, y_pred, from_logits=from_logits)
    C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\tensorflow\python\util\dispatch.py:206 wrapper
        return target(*args, **kwargs)
    C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\tensorflow\python\keras\backend.py:4862 categorical_crossentropy
        target.shape.assert_is_compatible_with(output.shape)
    C:\Users\HP\anaconda3\envs\entornomp1\lib\site-packages\tensorflow\python\framework\tensor_shape.py:1161 assert_is_compatible_with
        raise ValueError("Shapes %s and %s are incompatible" % (self, other))

    ValueError: Shapes (None, 1) and (None, 1, 24) are incompatible